.logement {
  padding: 0 40px;
}


.logement__carrousel {
  position: relative;
  height: 415px;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logement__carrousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logement__carrousel button {
  position: absolute;
  background: none;
  border: none;
  color: white;
  font-size: 50px;
  cursor: pointer;
}

.logement__carrousel button:first-child {
  left: 20px;
}

.logement__carrousel button:last-child {
  right: 20px;
}


.logement__infos {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px 0;
}

.logement__infos--left h1 {
  color: #FF6060;
  font-size: 36px;
}

.logement__infos--left p {
  color: black;
  font-size: 18px;
}


.logement__tags {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.logement__tag {
  background-color: #FF6060;
  color: white;
  padding: 5px 15px;
  border-radius: 15px;
  font-size: 14px;
}


.logement__host {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logement__host span {
  color: black;
  font-size: 16px;
}
.logement__host img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}
.h1 {
  color: #FF6060;
  font-size: 36px;
}

.logement_infos_left p {
  color: black;
  font-size: 18px;
  margin: 0;
  text-align: left;
}

.logement_infos_left h1 {
  font-size: 36px;
  letter-spacing: normal;
  margin: 0;
  color: #FF6060;
}

.logement__collapses {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.logement_carrousel_counter {
  position: absolute;
  bottom: 10px;
  right: 50%;
  transform: translateX(50%);
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 14px;
}



@media (max-width: 375px) {
  .logement {
    padding: 0 20px;
  }

  .logement__carrousel {
    height: 255px;
    border-radius: 10px;
  }

  .logement__carrousel button img {
    width: 12px;
  }

.logement__infos {
  flex-direction: column;
}

.logement_infos_right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.logement__rating {
  order: -1;
}

.logement__host {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.logement__collapses {
  grid-template-columns: 1fr;
}

.logement__tags {
  flex-wrap: wrap;
}

.logement__host img {
  width: 50px;
  height: 50px;
}

.logement__host span {
  font-size: 17px;
  color: #FF6060;
}
 
.logement h1 {
  font-size: 22px;
  font-weight: normal;
  text-align: left;
}
  }
