.collapse {
  width: 100%;
  margin-bottom: 10px;
}

.collapse__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0 20px;
  background-color: #FF6060;
  color: white;
  border-radius: 10px;
  height: 50px;
  min-height: 50px;
  box-sizing: border-box;
}

.collapse__arrow {
  transition: transform 0.4s ease;  
  transform: rotate(180deg);
}

.collapse__arrow.open {
  transform: rotate(0deg); 
}

.collapse__content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 5s ease;
  background-color: #f5f5f5;
  border-radius: 0 0 10px 10px;
}

.collapse__content.open {
  max-height: 300px;
}

.collapse__content > div {
  padding: 10px;
}