.navbar__logo{
    width: 130px;
    height: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: black;
    margin-top: 45px;
    margin : 0 30px;
}
.navbar__links {
    display: flex;
    gap: 20px;
}
.navbar__links a {
    color: black;
    text-decoration: none;
}
.navbar__links a:hover {
    text-decoration: underline;
}

.navbar li {
    list-style: none;
}



@media (max-width: 375px) {
  .navbar {
    margin: 0 20px;
    padding: 10px 0;
  }

  .navbar__logo {
    width: 80px;
  }

  .navbar__links {
    gap: 10px;
  }

  .navbar__links a {
    font-size: 12px;
    text-transform: uppercase;
  }
}